# stuff that is personal to your version of the extension
# (OAuth2 secrets, icons, etc.)
config.json
manifest.json
*.png

# relics of gulp and npm
build/
node_modules/

# packaged extensions or keys
*.crx
*.pem
